.navBar{
    background-color: var(--secondaryColor);
}

.logo{
    color: var(--primaryColor);
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo:hover {
    color: var(--linkColor);
}

.navLink{
    color: var(--linkColor);
    text-decoration: none;
    margin-left: 1rem;
}

.navLink:hover {
    color: var(--primaryColor);
}

.price{
    color: var(--primaryColor);
}

.icon {
    font-size: 2rem;
}

.counter{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -.25rem;
    right: -.5rem;
    background-color: red;
    border-radius: 50%;
    font-size: 1rem;
}